<html>



<!DOCTYPE html>
<html>
<head>
	<title>Concept Analyzer</title>

</head>
<style type="text/css">
body {
    background-color: lightgrey;
    font-family: sans-serif;
}


.text_div {
	display: inline;
	
	margin: 70px;
}
	
.text_div input{
	height: 200px;
    width: 40%;
    font-family: s;
    font-size: 15px;
	

}
input[type="submit"] {
	border-radius: 5px;
	height: 40px;
	width: 100px;
	background-color: #2E913B;
	color: #ffffff;
	border-color: #4CAF50;
	margin-top: 35px;
	margin-left: 550px;

}
.header_div h1{
	margin: 30px;
	text-align: center;
	color: black;
	
}
</style>
<body>
<div class="header_div">
<h1>Concept Analyzer<h1>
</div>

<div class="form_div">
<form method="get" action="/compare" id="input_form">
<div class="text_div">
Text1:
<textarea rows="10" cols="50" name="input1" form="input_form">
Enter input1 here...</textarea>
</div>
<div class="text_div" >
Text2:
<textarea rows="10" cols="50" name="input2" form="input_form">
Enter input2 here...</textarea>
</div>
<br><br>
<input type="submit" name="submit" value="compare">
</form>
<div>

</body>
</html>